<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cric Scoreboard</title>
    <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
    <div class="header clearfix">
        <div class="container">
            <button class="btn-match-select" id="btn-match-select">Select Match</button>
            <div class="match-list-modal" id="match-list-modal"></div>
        </div>
        <div class="is-live-status led-red" id="is-live-status"></div>
        <div class="refresh-time-select">
            <div class="refresh-timer" id="refresh-timer">
                <img class="refresh-time-img" src="/static/images/refresh-timer.png"/>
                <span class="refresh-time-label" id="refresh-time-label">10s</span>
            </div>
            <div class="refresh-time-list-modal" id="refresh-time-list-modal">
                <li class="match-list-item" id="rt-10">10s</li>
                <li class="match-list-item" id="rt-15">15s</li>
                <li class="match-list-item" id="rt-20">20s</li>
                <li class="match-list-item" id="rt-25">25s</li>
                <li class="match-list-item" id="rt-30">30s</li>
                <li class="match-list-item" id="rt-40">40s</li>
                <li class="match-list-item" id="rt-50">50s</li>
                <li class="match-list-item" id="rt-60">60s</li>
                <li class="match-list-item" id="rt-99">Stop</li>
            </div>
        </div>
        <div class="noti-check" id="noti-check">
            <img class="noti-image" src="/static/images/noti-bell.png"/>
            <span class="noti-check-item noti-check-item-selected" id="noti-check-W">W</span>
            <span class="noti-check-item noti-check-item-selected" id="noti-check-6">6</span>
            <span class="noti-check-item noti-check-item-selected" id="noti-check-4">4</span>
            <span class="noti-check-item noti-check-item-selected" id="noti-check-S">S</span>
        </div>
        <div class="quick-refresh" id="quick-refresh">
            <img class="quick-refresh-img" src="/static/images/refresh.png"/>
        </div>
    </div>
    <div class="score-data" id="data"></div>
</body>
<script src="/static/main.js"></script>
</html>