<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cric Scoreboard</title>
    <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
    <div class="header">
        <button class="btn-match-select" id="btn-match-select">Select Match</button>
        <div class="is-live-status led-red" id="is-live-status"></div>
        <div class="noti-check" id="noti-check">
            <img class="noti-image" src="/static/images/noti-bell.png"/>
            <span class="noti-check-item noti-check-item-selected" id="noti-check-W">W</span>
            <span class="noti-check-item noti-check-item-selected" id="noti-check-6">6</span>
            <span class="noti-check-item noti-check-item-selected" id="noti-check-4">4</span>
        </div>
        <div class="match-list-modal" id="match-list-modal"></div>
    </div>
    <div id="data"></div>
</body>
<script src="/static/main.js"></script>
</html>