.score-data {
    font-size: 24px;
    font-weight: 500;
}
.score-header {
    border-bottom: #000 1px dashed;
}
.score-row {
    padding: 10px;
}
.string { color: green; }
.runs { color: blue; }
.null { color: purple; }
.overs { color: magenta; }
.key { color: red; }
.team-name {
    color: green;
    width: 500px;
    text-align: right;
}

.header {
    padding: 5px;
    position: relative;
    height: 50px;
    margin-bottom: 20px;
}

.btn-match-select {
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    float: left;
    margin-right: 20px;
    height: 53px;
}

.btn-match-select:hover {
    background-color: #000;
    color: #fff;
    border: #F00 1px solid;
}

.refresh-time-select {
    float: left;
}

.refresh-timer {
    float: left;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
    background-color: white;
    color: black; 
}

.refresh-timer:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

.refresh-time-img {
    float: left;
    width: 25px;
}

.refresh-time-label {
    float: left;
    padding: 2px;
}

.refresh-time-list-modal {
    position: absolute;
    z-index: 500;
    margin: 25px 0 0 50px;
    max-height: 400px;
    overflow: scroll;
    display: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.noti-check {
    float: left;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
}

.noti-image {
    float: left;
    width: 25px;
}

.noti-check-item {
    float: left;
    width: 20px;
    padding: 2px;
    text-align: center;
    border: #000 1px solid;
    border-radius: 50%;
    margin-left: 5px;
    font-weight: 600;
    cursor: pointer;
}

.noti-check-item:hover {
    color: #fff;
    background-color: #000;
    border: red 2px solid;
}

.noti-check-item-selected {
    color: #fff !important;
    background-color: #00f !important;
}

.match-list-modal {
    position: absolute;
    z-index: 1000;
    max-height: 400px;
    overflow: scroll;
    display: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.match-list-item {
    padding: 10px;
    background-color: #fafafa;
    color: #000;
    cursor: pointer;
}

.match-list-item:nth-child(odd) {
    background-color: #c5c5c5;
}

.match-list-item:hover {
    background-color: #080808;
    color: #fff;
}

.is-live-status {
    float: left;
    padding: 5px;
}

.led-red {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-green {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #0F0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #0F0 0 2px 12px;
    animation: blinkGreen 1s infinite;
}

@keyframes blinkGreen {
    from { background-color: #0F0; }
    50% { background-color: #CF0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #0F0; }
}